# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

#Gemfile.lock

beautiful-jekyll-theme-*.gem

.idea/*
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/buildyourhome.iml

*-cache/
*.DS_Store