<!-- Clickable Service Item -->
<a onclick="openPopup(this)"
    data-keyword="After Sales"
    data-description="We help you find the best properties to purchase."
    data-image="assets/images/after-sales.png">
    <div class="services-item">
        <div class="lui-subtitle">
            <span>After Sales</span>
        </div>
        <div class="lui-text">
            <p>................................................</p>
        </div>
        <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
    </div>
</a>