<div class="services-item">
    <div class="lui-subtitle">
        <span> After Sales Service </span>
    </div>
    <div class="icon"></div>
    <h5 class="lui-title">
        <span> Sound Track </span>
    </h5>
    <div class="lui-text">
        <div>
            <p>Music copying, writing, creating, transcription and composition services.</p>
        </div>
    </div>
    <a href="#pricing-section" class="lnk"> See Pricing </a>
    <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
</div>