<!-- Wrapper -->
<div class="wrapper">

<!-- Section - Hero Started -->
    <section class="lui-section lui-section-hero lui-gradient-top" id="started-section">
    <div class="container">

  <!-- Hero Started -->
  <div class="lui-started v-line v-line-left">
            <div class="section hero-started">
                <div class="content scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="titles">
                        <div class="lui-subtitle">
                            <span> {{ site.data.global.salutation }}, <b>{{ site.data.global.title_header }}</b>
                            </span>
                        </div>
                        <h1 class="title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
                            <span>
                                <b>{{ site.data.global.title_name }}</b> {{ site.data.global.title_surname }} </span>
                        </h1>
                        <div class="label lui-subtitle"> {{ site.data.global.intro }} <strong>{{ site.data.global.job_title }}</strong>
                        </div>
                    </div>
                    <div class="description">
                        <div>
                            <p>{{ site.data.global.description }}</p>
                        </div>
                        <div class="social-links">
                            <a target="_blank" rel="nofollow" href="#">
                                <i aria-hidden="true" class="fab fa-facebook"></i>
                            </a>
                            <a target="_blank" rel="nofollow" href="#">
                                <i aria-hidden="true" class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <img decoding="async" src="{{ site.profile-img | relative_url }}" alt="&lt;b&gt;Zarir&lt;/b&gt; Engineer" >
                    <span class="circle circle-1"></span>
                    <span class="circle img-1" style="background-image: url(assets/images/pat-1.png);"></span>
                    <span class="circle img-2" style="background-image: url(assets/images/pat-2.png);"></span>
                    <span class="circle img-3" style="background-image: url(assets/images/pat-2.png);"></span>
                    <div class="info-list">
                        <ul>
                            <li>
                                <span class="num">18 <strong>+</strong>
                                </span>
                                <span class="value">Years of <strong>Experience</strong>
                                </span>
                            </li>
                            <li>
                                <span class="num">90</span>
                                <span class="value">Completed <strong>Projects</strong>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    <div class="lui-bgtitle">
      <span> Web Developer </span>
    </div>
  </div>

</div>
    </section>

<!-- Section - Services -->
    <section class="lui-section lui-gradient-bottom" id="services-section">

<!-- Heading -->
        <div class="lui-heading">
            <div class="container">
                  <div class="m-titles align-center">
                    <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                        <span> What I Do </span>
                    </h2>
                    <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                        <span> my <b>Services</b> </span>
                    </div>
                </div>
            </div>
        </div>

<!-- Services -->
        <div class="v-line v-line-right">
            <div class="container">
                <div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
                <div class="swiper-wrapper">
                    <div id="overlay" onclick="togglePopup()"></div>
                    <div class="swiper-slide">
                        {% include buying.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include selling.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include leasing.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include advisor.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include after-sales.html %}
                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>
                <div class="lui-bgtitle">
                    <span> Services </span>
                </div>
            </div>
        </div>

    </section>

<!-- Section - Testimonials -->
    <section class="lui-section lui-gradient-center" id="testimonials-section">

        <!-- Heading -->
        <div class="lui-heading">
          <div class="container">

            <div class="m-titles align-center">
              <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span> Testimonials </span>
              </h2>
              <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span> what <b>Customers Say</b>
                </span>
              </div>
            </div>

          </div>
                </div>

        <!-- Testimonials -->
        <div class="v-line v-line-right">
            <div class="container">

        <div class="swiper-container js-testimonials scrolla-element-anim-1 scroll-animate" data-animate="active">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                {% include rahul-muthiah.html %}
            </div>
            <div class="swiper-slide">
                {% include alka-chauhan.html %}
            </div>
            <div class="swiper-slide">
                {% include chin2.html %}
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="lui-bgtitle">
          <span> Reviews </span>
        </div>

                </div>
        </div>

</section>

<!-- Section - Blog -->
    <section class="lui-section lui-gradient-top" id="blog-section">

        <!-- Heading -->
        <div class="lui-heading">
          <div class="container">

            <div class="m-titles align-center">
              <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span> Latest Blog </span>
              </h2>
              <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span> my <b>Articles and Advice</b>
                </span>
              </div>
            </div>

          </div>
                </div>

        <!-- Archive -->
        <div class="v-line v-line-right">
            <div class="container">

    <div class="blog-items row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
          <div class="image">
            <a href="/buildyourhome/all-blogs/exploring_south_mumbai_real_estate.html">
              <img decoding="async" src="assets/images/exploring-south-mumbai.jpg" alt="Exploring South Mumbai Real Estate" >
            </a>
          </div>
          <div class="desc">
            <div class="category lui-subtitle">
              <span>October 31, 2022</span>
            </div>
            <h5 class="lui-title">
              <a href="/buildyourhome/all-blogs/exploring_south_mumbai_real_estate.html">Exploring South Mumbai Real Estate</a>
            </h5>
            <div class="lui-text">
              <p>A world of Luxury, Heritage and Oppurtunity...</p>
              <div class="readmore">
                <a href="/buildyourhome/all-blogs/exploring_south_mumbai_real_estate.html" class="lnk">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
          <div class="image">
            <a href="/buildyourhome/all-blogs/impact_of_new_infrastructure.html">
              <img decoding="async" src="assets/images/1920-1400-impact-of-infrastructure-on-mumbai.jpg" alt="The Impact of New Infrastructure Developments" >
            </a>
          </div>
          <div class="desc">
            <div class="category lui-subtitle">
              <span>October 31, 2022</span>
            </div>
            <h5 class="lui-title">
              <a href="/buildyourhome/all-blogs/impact_of_new_infrastructure.html">The Impact of New Infrastructure Developments on Mumbai’s Real Estate Market</a>
            </h5>
            <div class="lui-text">
              <p>Mumbai, the financial capital of India...</p>
              <div class="readmore">
                <a href="/buildyourhome/all-blogs/impact_of_new_infrastructure.html" class="lnk">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
          <div class="image">
            <a href="/buildyourhome/all-blogs/repurposing_old_window_frames.html">
              <img decoding="async" src="assets/images/1920-1400-repurposing-old-window-frames.jpg" alt="Repurposing Old Window Frames: A Creative DIY Project">
            </a>
          </div>
          <div class="desc">
            <div class="category lui-subtitle">
              <span>November 28, 2021</span>
            </div>
            <h5 class="lui-title">
                <a href="/buildyourhome/all-blogs/repurposing_old_window_frames.html">Repurposing Old Window Frames: A Creative DIY Project</a>
            </h5>
            <div class="lui-text">
              <p>Old window frames are more than just...</p>
              <div class="readmore">
                  <a href="/buildyourhome/all-blogs/repurposing_old_window_frames.html" class="lnk">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="load-more">
      <a href="{{ site.baseurl }}/all-blogs/" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">
        <span>View Blog</span>
      </a>
    </div>

    <div class="lui-bgtitle">
      <span> Blog </span>
    </div>

            </div>
        </div>

</section>

<!-- Section - Contacts -->
    <section class="lui-section lui-gradient-bottom" id="contact-section">

<!-- Heading -->
<div class="lui-heading">
  <div class="container">

    <div class="m-titles align-center">
      <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
        <span> Contact Me </span>
      </h2>
      <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
        <span> Let’s <b>Talk About Projects</b>
        </span>
      </div>
    </div>

  </div>
        </div>

<!-- Contact -->
        <div class="lui-contacts v-line v-line-left">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

        <div class="numbers-items">
          <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="icon">
              <i aria-hidden="true" class="far fa-map"></i>
            </div>
            <div class="title">
              <span> Address </span>
            </div>
            <div class="lui-text">
              <span> Dadar Parsi Colony, Mumbai, India </span>
            </div>
          </div>
          <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="icon">
              <i aria-hidden="true" class="far fa-user"></i>
            </div>
            <div class="title">
              <span> Show Properties </span>
            </div>
            <div class="lui-text">
              <span> Available Right Now </span>
            </div>
          </div>
          <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="icon">
              <i aria-hidden="true" class="far fa-envelope"></i>
            </div>
            <div class="title">
              <span> Email </span>
            </div>
            <div class="lui-text">
              <span> zarirengineer@gmail.com </span>
            </div>
          </div>
          <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="icon">
              <i aria-hidden="true" class="far fa-address-book"></i>
            </div>
            <div class="title">
              <span> Phone </span>
            </div>
            <div class="lui-text">
              <span> +91 740 - 001 - 5550 </span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            {% include send-message.html %}
        </div>
      </div>
    </div>

    <div class="lui-bgtitle">
      <span> Contact Me </span>
    </div></div>

</section>

</div>
