<a onclick="openPopup(this)"
    data-keyword="Buying"
    data-description="We help you find the best properties to purchase."
    data-image="assets/images/buying.png">
    Learn More
    <div class="services-item">
        <div class="lui-subtitle">
            <span>Buying</span>
        </div>
        <div class="lui-text">
            <div>
                <p>................................................</p>
            </div>
        </div>
        <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>

    </div>



</a>


<!--<a onclick="togglePopup()">-->
<!--    <div class="services-item">-->
<!--        <div class="lui-subtitle">-->
<!--            <span>Buying</span>-->
<!--        </div>-->
<!--        <div class="lui-text">-->
<!--            <div>-->
<!--                <p>................................................</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>-->

<!--    </div>-->
<!--</a>-->
<!--{% include modal.html description="Buying" %}-->
