{% if include.js.sri %}
  console.info("+++ inside ext-js include js sri ", {{ include.js.sri | jsonify }});
  <script src="{{ include.js.href }}" integrity="{{ include.js.sri }}" crossorigin="anonymous"></script>
{% elsif include.js.href %}
  console.info("+++ inside ext-js include js href ", {{ include.js.href | jsonify }});
  <script src="{{ include.js.href }}"></script>
{% else %}
  console.info("+++ inside ext-js else include js ", {{ include.js | jsonify }});
  <script src="{{ include.js }}"></script>
{% endif %}
