<a onclick="openPopup(this)"
    data-keyword="Leasing"
    data-description="We help you find the best properties to lease."
    data-image="assets/images/leasing.png">
    <div class="services-item">
        <div class="lui-subtitle">
            <span>Leasing</span>
        </div>
        <div class="lui-text">
            <div>
                <p>................................................</p>
            </div>
        </div>
        <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
    </div>
</a>