<div class="services-item">
    <div class="lui-subtitle">
        <span>Selling</span>
    </div>
    <div class="lui-text">
        <div>
            <p>Many factors determine a home’s value including its location, condition, age, recent updates, features and comparable sales in the neighborhood. I am an expert in finding the true value of your property. I am a connoisseur of the art of maximizing the equity of your home</p>
        </div>
    </div>
    <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
</div>
