<a href="javascript:void(0);" role="button"
    onclick="openPopup(this)"
    title="Learn more about Selling Services"
    data-keyword="Selling"
    data-description="We want to give you good selling service."
    data-image="assets/images/selling.png">

    <div class="services-item">
        <div class="lui-subtitle">
            <span>Selling</span>
        </div>
        <div class="lui-text">
            <p>Providing top-tier customer support even after your purchase.</p>
        </div>
        <div class="image" style="background-image: url(assets/images/pat-2.png);" aria-hidden="true"></div>
    </div>
</a>