/* Modal styles */

/* Modal background */
.modal {
  overflow-y: auto;
  max-height: 90vh; /* Prevents overflow outside viewport */
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999 !important; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full viewport width */
  /*height: 100vh;  Full viewport height */
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s;
}

.modal.no-scroll {
    overflow: hidden;
}

/* Modal Content */
.modal-content {
  background: white !important; /* Ensures modal is white */
  z-index: 9999 !important; /* Sit on top */
  border-radius: 8px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  animation: slideIn 0.5s;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Slide in animation */
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}