---
layout: base
title: Sample Page
permalink: /all-blogs/
---

<!-- Wrapper -->
<div class="wrapper">

<!-- Section Started Heading -->
<section class="section section-inner started-heading">
<div class="container">

        <!-- Heading -->
  <div class="m-titles align-center">
    <h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
      <span> Our Blogs </span>
    </h1>
    <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
      <span> Recent Articles </span>
    </div>
  </div>

</div>
</section>

<!-- Section - Blog -->
    <div class="section section-inner m-archive">
<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

      <!-- Blog Items -->
      <div class="articles-container">

        <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
          <div class="image">
            <a href="{{ site.baseurl }}/blog-single/">
              <img src="{{ 'assets/images/single7.jpg' | relative_url }}" alt="The Main Thing For The Designer" loading="lazy">
            </a>
          </div>
          <div class="desc">
            <div class="category lui-subtitle">
              <span>January 31, 2025</span>
            </div>
            <h5 class="lui-title">
              <a href="{{ site.baseurl }}/blog-single/">The Main Thing For The Designer</a>
            </h5>
            <div class="lui-text">
              <p>Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur malesuada. Donec arcu lacus, ornare eget&hellip; </p>
              <div class="readmore">
                <a href="{{ site.baseurl }}/blog-single/" class="lnk">Read more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
          <div class="image">
            <a href="{{ site.baseurl }}/blog-single/">
              <img src="assets/images/blog-4-scaled-1.jpg" alt="Follow Your Own Design Process" loading="lazy">
            </a>
          </div>
          <div class="desc">
            <div class="category lui-subtitle">
              <span>October 31, 2022</span>
            </div>
            <h5 class="lui-title">
              <a href="{{ site.baseurl }}/blog-single/">Follow Your Own Design Process</a>
            </h5>
            <div class="lui-text">
              <p>Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur malesuada. Donec arcu lacus, ornare eget&hellip; </p>
              <div class="readmore">
                <a href="{{ site.baseurl }}/blog-single/" class="lnk">Read more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
          <div class="image">
            <a href="{{ site.baseurl }}/blog-single/">
              <img src="assets/images/blog-2.jpg" alt="Usability Secrets to Create Better Interfaces" loading="lazy">
            </a>
          </div>
          <div class="desc">
            <div class="category lui-subtitle">
              <span>November 28, 2021</span>
            </div>
            <h5 class="lui-title">
              <a href="{{ site.baseurl }}/blog-single/">Usability Secrets to Create Better Interfaces</a>
            </h5>
            <div class="lui-text">
              <p>Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur malesuada. Donec arcu lacus, ornare eget&hellip; </p>
              <div class="readmore">
                <a href="{{ site.baseurl }}/blog-single/" class="lnk">Read more</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="pager">
        <span class="page-numbers current">1</span>
        <a class="page-numbers" href="#">2</a>
        <a class="next page-numbers" href="#">Next</a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

      <!-- sidebar -->
      <div class="col__sedebar scrolla-element-anim-1 scroll-animate" data-animate="active">
        <div class="content-sidebar">
          <aside class="widget-area">

            <div class="widget widget_block widget_search">
              <form class="wp-block-search">
                <div class="wp-block-search__inside-wrapper">
                  <input type="search" class="wp-block-search__input wp-block-search__input" value="">
                  <button type="submit" class="wp-block-search__button wp-element-button">Search</button>
                </div>
              </form>
            </div>

            <section class="widget widget_block">
              <div class="wp-block-group">
                <div class="wp-block-group__inner-container">
                  <h2>Recent Posts</h2>
                  <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                    <li><a class="wp-block-latest-posts__post-title" href="{{ site.baseurl }}/blog-single/">The Main Thing For The Designer</a></li>
                    <li><a class="wp-block-latest-posts__post-title" href="{{ site.baseurl }}/blog-single/">Follow Your Own Design Process</a></li>
                    <li><a class="wp-block-latest-posts__post-title" href="{{ site.baseurl }}/blog-single/">Usability Secrets to Create Better Interfaces</a></li>
                    <li><a class="wp-block-latest-posts__post-title" href="{{ site.baseurl }}/blog-single/">Three Ways To Level Up Your Photography</a></li>
                    <li><a class="wp-block-latest-posts__post-title" href="{{ site.baseurl }}/blog-single/">10 Useful Tips to Improve Your Skills</a></li>
                  </ul>
                </div>
              </div>
            </section>

            <section class="widget widget_block">
              <div class="wp-block-group">
                <div class="wp-block-group__inner-container">
                  <h2>Recent Comments</h2>
                  <ul class="wp-block-latest-comments">
                    <li class="wp-block-latest-comments__comment">
                      <span class="wp-block-latest-comments__comment-author">Ryan Berg</span> on <a class="wp-block-latest-comments__comment-link" href="{{ site.baseurl }}/blog-single/">How to Become a Successful UI/UX Designer</a>
                    </li>
                    <li class="wp-block-latest-comments__comment">
                      <span class="wp-block-latest-comments__comment-author">Robert Brown</span> on <a class="wp-block-latest-comments__comment-link" href="{{ site.baseurl }}/blog-single/">How to Become a Successful UI/UX Designer</a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>

            <section class="widget widget_block">
              <div class="wp-block-group">
                <div class="wp-block-group__inner-container">
                  <h2>Archives</h2>
                  <ul class="wp-block-archives-list wp-block-archives">
                    <li><a href="{{ site.baseurl }}/blog-single/">October 2022</a></li>
                    <li><a href="{{ site.baseurl }}/blog-single/">November 2021</a></li>
                  </ul>
                </div>
              </div>
            </section>

            <section class="widget widget_block">
              <div class="is-layout-flow wp-block-group">
                <div class="wp-block-group__inner-container">
                  <h2>Categories</h2>
                  <ul class="wp-block-categories-list wp-block-categories">
                    <li class="cat-item cat-item-2"><a href="{{ site.baseurl }}/blog-single/">Branding</a></li>
                    <li class="cat-item cat-item-3"><a href="{{ site.baseurl }}/blog-single/">Photography</a></li>
                    <li class="cat-item cat-item-4"><a href="{{ site.baseurl }}/blog-single/">UI Design</a></li>
                    <li class="cat-item cat-item-5"><a href="{{ site.baseurl }}/blog-single/">UX Design</a></li>
                  </ul>
                </div>
              </div>
            </section>

          </aside>
        </div>
      </div>

    </div>
  </div>

  <div class="v-line-left v-line-top"><div class="v-line-block"><span></span></div></div>

</div>
</div>

</div>
