---
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
{% include head.html %}

<body class="home light-skin">
	<div class="container-page">
        {% include header.html %}

        {% include gtm_body.html %}

        {{ content }}

        {% include footer.html %}
    </div>

    {% include footer-scripts.html %}

    <!-- Other page content -->

    <!-- Modal and Overlay (Global) -->
    <div id="overlay" onclick="closePopup()"></div>
    <div id="popup-content">
        <div class="services-item">
            <div class="lui-subtitle">
                <span id="popup-title">Buying</span> <!-- This will be dynamically updated -->
            </div>
            <div class="lui-text">
                <div>
                    <p id="popup-description">................................................</p>
                </div>
            </div>
            <div class="image" id="popup-image" style="background-image: url(assets/images/pat-2.png);"></div>
        </div>
        <button onclick="closePopup()">Close</button>
    </div>

    <!-- Scripts -->
    <script>
    function togglePopup() {
        var popup = document.getElementById("popup-content");
        var overlay = document.getElementById("overlay");
        if (popup.style.display === "none" || popup.style.display === "") {
            popup.style.display = "block";
            overlay.style.display = "block";
        } else {
            popup.style.display = "none";
            overlay.style.display = "none";
        }
    }
    </script>

</body>
</html>